  a{
    text-decoration: none;
    float: right;
    clear: none;
    color:white;
    padding: 20px;
    font-size: 30px;
}
h2{
    padding-top: 100px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
header{
    background-color: black;
}
body{
    background-image: url("https://assets.epicurious.com/photos/54aaeace6529d92b2c02f4ee/16:9/w_1280,c_limit/kale-super-greens_9x4.jpg");
    background-size: cover;
    background-position: fixed;
    font-family: 'Times New Roman', Times, serif;
}
.landing{
    font-size: 40px;
    text-align: center;
    font-weight: bolder;
    margin: 250px auto;
    color: white;
}


