
body{

	    color: black;
	    border: double;
	       border-color: black;
	         margin: 70px;
	          text-align: left;
	           font-size: 25px;
	background-image: url(https://thumbs.dreamstime.com/z/green-colorful-abstract-flower-line-background-big-size-modern-design-144830138.jpgs);
	    background-attachment: fixed;
}
h1{
	color: black;
	  font-size: 40px;
	    text-align: left;
	    background-image: url(https://wallpaperaccess.com/full/360509.jpg);
}
p{
	font-size: 15px;
	   font-family: Comic Sans Ms,cursive,sans-serif;
}
h2{
	color: black;
	   font-family: Comic Sans Ms,cursive,sans-serif;
	     font-size: 20px;
	       text-align:left;
}

ol{
	 font-size: 20px;
	    text-align: left;
}
h3{
	text-align: left;
	     font-size: 20px;
	       font-family: Comic Sans Ms,cursive,sans-serif;
}